@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  counter-reset: list;
}

html,
body {
  padding: 0;
  margin: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Tourney", cursive;
  color: red;
}

a {
  color:rgb(75, 85, 99);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  
}

h1 {
  padding: 25px;
}

ul {
  list-style-type: none;
}

li {
  counter-increment: list;
  font-family: 'Courier New', Courier, monospace;
  /* padding: 2px; */
  margin: 2px;
  font-size: 16px;
}

li::before {
  content: counter(list);
}

footer {
  background: rgb(241, 240, 240);
  color: red;
}

iframe {
  overflow:hidden;
  opacity: .6;
  border-radius: 8px;
}

.hero-image {
  width: 100%;
  padding: 1%;
  max-width: 1500px;
  background-size: cover;
  background-image: url(../public/toilet.jpg);
  background-position-y: 50%;
}

@media (min-width: 600px) {
  .hero-image {
    padding: 25%;
  };
}
