@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Tourney", cursive;
  color: red;
  max-width: 1500px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  gap: 1rem;
}

a {
  color:rgb(75, 85, 99);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  
}

h1 {
  padding: 25px;
}

ul {
  list-style-type: none;
}

li {
  font-family: 'Courier New', Courier, monospace;
  /* padding: 2px; */
  margin: 2px;
  font-size: 16px;
}